<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to  "Sign Out" , destroy_user_session_path, method: :delete %>
    </li>
    Current User Email  : ----- 
    <%= current_user.email %>
    </li>
  <% else %>
     <li>
      <%= link_to  "Sign In" , new_user_session_path %>
    </li>
    <li>
      <%= link_to  "Sign Up" , new_user_registration_path %>
    </li>
  <% end %>

</ul>





<h1>SHOPPING KART</h1>


<%= link_to  "Product List" , product_list_index_url %>