<p id="notice"><%= notice %></p>

<h1>All Availables Products</h1>






 <% @products.each do |product| %>
<div class="gallery">
  <a target="_blank" href="fjords.jpg">
    <%= image_tag product.image.url%>
  </a>
  <div class="desc">
   Name:  <%= product.name %><br/>
  Price:<%= product.price %><br/>
    <%= product.title %><br/>
   
  </div>
</div>
 <% end %>