// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.outerDiv
  {
    background-color: #006699;
    color: #fff;
    height: 400px;
    width: 600px;
    margin: 0px auto;
    padding: 5px;
  }
  .leftDiv
  {
    background-color: #efefef;
    color: #000;
    height: 400px;
    width: 48%;
    float: left;
  }
  .rightDiv
  {
    background-color: #efefef;
    color: #000;
    height: 400px;
    width: 48%;
    float: right;
  }