<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>Title:</strong>
  <%= image_tag @product.image.url %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<div class="outerDiv">
      <div class="leftDiv">
       <%= image_tag @product.image.url %>
      </div>
      <div class="rightDiv">
        This is Right DIV.
      </div>    
      <div "style: clear:both;"></div>
    </div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
